.wrapper {
    background-color: white;
    width: 100vw;
    -webkit-box-shadow: 0px -3px 20px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -3px 20px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -3px 20px 0px rgba(0,0,0,0.10);
    position: sticky;
    z-index: 99;
    top: 0;
}
.container {
    padding: 13px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-size: 2rem;
    color: var(--principal-color);
    font-weight: bolder;
    text-decoration: none;
}
.navigationContainer {

}
.navigationList {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.navigationListLi {

}
.navigationListLiLink {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1rem;
    transition: 10s;
}
.navigationListLi:hover, .navigationListLiLink:hover {
    color: var(--black-color-hover);
    transform: scale(1.02);
    cursor: pointer;
}

@media (max-width: 900px) {
    .navigationContainer {
        display: none;
    }
}