.wrapper {
    width: 100%;
    background-color: transparent;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.flexItemStart {
    background-color: transparent;
}
.flexItemCenter {
    width: 600px;
}
.flexItemEnd {
    background-color: transparent;
}

@media (max-width: 900px) {
    .flexItemCenter, .flexItemStart, .flexItemEnd {
        width: 100%;
        max-width: 100%;
    }
}