.wrapper {
    width: 100%;
    background-color: transparent;
}
.container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.flexItemStart {
    background-color: transparent;
}
.flexContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
}
.flexItemCenter {
    width: 600px;
    margin: auto;
    background-color: transparent;
}
.flexItemEnd {
    background-color: transparent;
}

@media (max-width: 1100px) {
    .flexItemCenter, .flexItemStart, .flexItemEnd, .flexContainer {
        width: 100%;
        max-width: 100%;
    }
    .container {
        flex-wrap: wrap-reverse;
    }
}